<h1>Edit List</h1>

<form method="post" action="/lists/<%=list.id %>?_method=PATCH" >
  <label>Title</label>
  <input type="text" name="title" value="<%= list.title%>">
  <label>Location</label>
  <select name="location" value="<%= list.location%>">
    <!-- <script>
   if (list.location == l.id) {
     $('select option').val(list.location).attr("selected","selected");
   }
    </script> -->
    <% locations.forEach((l) => { %>
        <option
          value="<%=l._id%>"
          <%= l.id == list.location ? 'selected' : '' %>
        >
          <%=l.title%>
        </option>
    <% }) %>

  </select>
  <label>Weather</label>
  <input type="text" name="weather" value="<%= list.weather%>">
  <label>Event Type</label>
  <input type="text" name="type" value="<%= list.type%>">
  <button type="submit">Update List!</button>
</form>
