<div class="col-md-6 col-md-offset-3" >


<h1><%= list.title%></h1>
<h3>By: <%= list.user.local.firstname %></h3>


<h4><%= list.location.title %> </h4>
<!-- if user is list creator or an admin then they can edit or delete lists -->
<%if(currentUser.id ==list.user.id || currentUser.local.isAdmin) { %>

    <div class="col-sm-4">
      <!-- edit the list name, location, weather, type -->
      <button type="button" name="button"><a href="/lists/<%= list.id %>/edit">Edit</a></button>
      <!-- delete the entire lists with tasks and all -->


      <form method="post" action="/lists/<%=list.id %>?_method=DELETE" class="listDeleteBtn">

        <button type="submit" name="button">Delete</button>
      </form>
    </div>

    <div class="col-sm-6">

    <input type="text" id="task-input">
    <button class="display-inline"id="add-task"> Add </button>
  </div>


<% }else{ %>
  <div class="col-sm-10">

    <button id="clone-list">Copy List</button>
  </div>

<% } %>

<ul class="list-group col-sm-12" id="tasks-list">

  <li></li>


</ul>


<div class="fb-comments" data-href="http://localhost:3000/lists" data-numposts="2"></div>
<!--Script tag with ejs to add tasks if the user is logged in???  -->
<%if(currentUser.id ==list.user.id || currentUser.local.isAdmin == true) { %>

</div>
<script>
  var tasksList = $('#tasks-list')
  var taskInput = $('#task-input')
  var addTask = $('#add-task')

  ///append all tasks to the list
  function appendTask(task){
    var theLi = $('<li>').attr('id', task._id)
    theLi.addClass('list-group-item')
    theLi.html('<span style="padding-right: 2em;">' + task.body + '</span>')
    var editButton = $('<button>').addClass('edit')
    editButton.css('float', 'right')
    editButton.text('Edit')
    var deleteButton = $('<button>').addClass('delete')
    deleteButton.css('float', 'right')
    deleteButton.text('Delete')
    theLi.append(editButton, deleteButton)
    tasksList.append(theLi)
  }

  ///have all tasks show up at once
  var requestSettings = {
    method: 'get',
    url: '/lists/<%=list.id%>/tasks'
  }
  $.ajax(requestSettings).done(function(allTasks){
    tasksList.html('')
    allTasks.forEach(function(task){
      appendTask(task)
    })
  })
  //create a task
  addTask.on('click', function(){
    var requestSettings = {
      method: 'post',
      url: '/lists/<%=list.id%>/tasks',
      data: JSON.stringify({body: taskInput.val(), completed: false}),
      contentType: 'application/json'
    }
    $.ajax(requestSettings)
      .done(function(newTask){
        console.log(newTask)
        appendTask(newTask)
        taskInput.val('')
      })
  })

  tasksList.on('click', 'li button.edit', function(){
          var id = $(this).parent().attr('id')
          var text = $(this).prev().html()
          var editField = $('<input type="text">')
          var updateButton = $('<button>')
          console.log(text)
          editField.attr('value', text)
          editField.addClass('updater '+id)
          console.log(editField);
          updateButton.text('Update')
          updateButton.attr('id', id)
          updateButton.addClass('update')

          $('#' + id).empty()
          $('#' + id).append(editField)
          $('#' + id).append(updateButton)
        })

  tasksList.on('click', 'li button.update', function(){
    var id = $(this).parent().attr('id')
    console.log(id);
    var requestSettings = {
      method: 'patch',
      url: '/lists/<%=list.id%>/tasks/'+id,
      data: JSON.stringify({body: $(this).prev().val()}),
      contentType: 'application/json'
    }
    $.ajax(requestSettings)
      .done(function(data){
        $('#' + id + ' span').text(data.task.body)
        var theLi = ($('#' + id));
        theLi.text(data.task.body)
        var editButton = $('<button>').addClass('edit')
        editButton.css('float', 'right')
        editButton.text('Edit')
        var deleteButton = $('<button>').addClass('delete')
        deleteButton.css('float', 'right')
        deleteButton.text('Delete')
        theLi.append(editButton, deleteButton)
        var input = $('input').attr('updater ' + id)
        console.log(input)
        console.log(data)
      })
  })

  tasksList.on('click', 'li button.delete', function(){
    var id = $(this).parent().attr('id')
    var requestSettings = {
      method: 'delete',
      url: '/lists/<%=list.id%>/tasks/'+id
    }
    $.ajax(requestSettings)
      .done(function(data){
        $('#'+id).remove()
      })
  })
</script>
<%} else {%>

  <script >

  var tasksList = $('#tasks-list')
  var cloneList = $('#clone-list')


  function appendTask(task){
    var theLi = $('<li>').attr('id', task._id)
    theLi.addClass('list-group-item')
    theLi.html('<span style="padding-right: 2em;">' + task.body + '</span>')
    tasksList.append(theLi)
  }

  var requestSettings = {
    method: 'get',
    url: '/lists/<%=list.id%>/tasks'
  }
  $.ajax(requestSettings).done(function(allTasks){
    console.log(allTasks, )
    tasksList.html('')
    allTasks.forEach(function(task){
      appendTask(task)
    })
  })


  cloneList.on('click', function(){

    var requestSettings = {
      method: 'GET',
      url: '/lists/<%=list.id%>/copy/<%=currentUser.id%>',

    }
    $.ajax(requestSettings).done(function(theList){

      window.location='/lists'
    })
  })

  </script>
<% } %>
