
<div class="page-header">



<h1>Account Profile</h1>

</div>
<div class="container">


<div class="row">
    <div class="col-md-6">
        <div class="well">
<!-- <p><%= user.local %></p>
      <p><strong>password</strong>: <%= user.local.password %></p>
        <p><% if (user.facebook.id != null) { %>
          <h2 class="fa fa-facebook"> Facebook</h2><br>
          <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
          <strong>id</strong>: <%= user.facebook.id %><br>
          <strong>email</strong>: <%= user.facebook.email %><br>
          <strong>name</strong>: <%= user.facebook.name %>
          <% } %>
        </p> -->


          <% if (user.local.email != null) { %>
            <div class="right-info">
            <h1><%= user.local.firstname %></h1>
            <img src="https://avatars.io/gravatar/<%= user.local.email %>/140" class="img-circle"><br>

          </div>
          <div class="left-info">
            <article class="user-info">
              <div class="user-info">
                <strong>First Name</strong>:<br> <span><%= user.local.firstname %></span><br>
              </div>
              <div class="user-info">
                <strong>Last Name</strong>:<br> <span><%= user.local.lastname %></span><br>
              </div>
              <div class="user-info">
                <strong>email</strong>:<br> <span><%= user.local.email %></span><br>
              </div>
            </article>
          </div>
          <% } %>

          <% if (user.facebook.email != null) { %>
            <div class="right-info">
              <h1><%= user.facebook.name %></h1>
              <h4 class="fa fa-facebook"> Facebook</h4><br>
              <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
            </div>
            <div class="left-info">
              <article class="user-info">
               <strong>name</strong>:<br> <span><%= user.facebook.name %></span>
                <hr>
                <strong>email</strong>:<br> <span><%= user.facebook.email %></span><br>
                <hr>
              </article>
            </div>

          <% } %>

        </div>
      </div>



        <div class="col-md-6">
          <div class="">
            <h2 class="">List</h2>
            <article class="users">
               <% lists.forEach((list) => { %>
                  <% if (list.user.id == user.id) { %>
                    <a href="/lists/<%=list._id%>"><div class="user-lists">
                      <h3> <%= list.title %> | City: <%= list.location.title %></h3>
                    </div></a>
                  <% } %>
                <% }) %>
            </article>
          </div>
        </div>
      </div>
</div>



<% if(user.local.isAdmin || user.facebook.isAdmin) { %>
  <div type="button" class="btn btn-success">
    <a href="/users">All users</a>
  </div>
<% } %>

<div type="button" class="btn btn-warning">
  <a href="/profile/<%=user._id%>/edit">Edit Profile</a>
</div>

<!-- <button><a href="/profile/<%=user._id%>">delete user</a></button> -->

  <div type="button" class="btn btn-info">
    <a href="/profile/<%=user._id%>/lists/new">Add a List</a>
  </div>
  <br>

  <div class="modal-footer">
     <form class="delete-btn" action="/profile/<%=user.id%>?_method=DELETE" method="POST">
       <button type="submit" class="btn btn-danger">Delete Account</button>
     </form>
   </div>
 </div>



 <style media="screen">
   .user-lists {
     width: 400px;
     height: 60px;
     border: 1px solid grey;
     border-radius: 4px;
     margin: 20px;
     text-align: center;
     background-color: white;
   }
   .user-lists:hover {
    box-shadow: 10px 10px 5px #888888;
    transform: scale(1.1)
}
   .btn {
     margin-bottom: 20px;
   }
   h2 {
     padding-left: 200px;
   }
   .container-1 {
     background-color: #B7EBA4
   }
   .btn-success:hover {
     transform: perspective(1px) translateZ(0)
     box-shadow: 0 0 1px transparent;
   }
   .right-info {
     display: inline-block;
     width: 250px;
     text-align: center;
   }
   .left-info {
     display: inline-block;
     float: right;
     height: 215px;
   }
   .user-info {
     font-size: 16px;
     height: 60px;
     border-bottom: 1px solid #CFD1D1;
   }
   .well {
     margin-top: 25px;
     height: 280px;
     box-shadow: 0 0 1px transparent;
   }
   footer {
     height: 40px;
     background: #413347;
   }

 </style>

 <footer>

 </footer>
