<div class="page-header"></div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
<!-- <p><%= user.local %></p>
      <p><strong>password</strong>: <%= user.local.password %></p>
        <p><% if (user.facebook.id != null) { %>
          <h2 class="fa fa-facebook"> Facebook</h2><br>
          <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
          <strong>id</strong>: <%= user.facebook.id %><br>
          <strong>email</strong>: <%= user.facebook.email %><br>
          <strong>name</strong>: <%= user.facebook.name %>
          <% } %>
        </p> -->


          <% if (user.local.email != null) { %>
            <h1><%= user.local.firstname %></h1>
            <img src="https://avatars.io/gravatar/<%= user.local.email %>/140" class="img-circle"><br>
            <strong>First Name</strong>: <%= user.local.firstname %><br>
            <strong>Last Name</strong>: <%= user.local.lastname %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <!-- <strong>id</strong>: <%= user._id %><br> -->
          <% } %>

          <% if (user.facebook.email != null) { %>
            <h1><%= user.facebook.name %></h1>
            <h4 class="fa fa-facebook"> Facebook</h4><br>
            <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
            <!-- <strong>id</strong>: <%= user.id %><br> -->
            <strong>email</strong>: <%= user.facebook.email %><br>
            <strong>name</strong>: <%= user.facebook.name %>
          <% } %>

        </div>
      </div>


        <div class="col-md-6">
          <div class="">
            <h2 class="">List</h2>
            <article class="users">
               <% lists.forEach((list) => { %>
                  <% if (list.user.id == user.id) { %>
                    <a href="/lists/<%=list._id%>"><div class="user-lists">
                      <h3> <%= list.title %> | <%= list.type %> | <%= list.location.title %></h3>
                    </div></a>
                  <% } %>
                <% }) %>
            </article>
          </div>
        </div>
</div>



<% if(user.local.isAdmin || user.facebook.isAdmin) { %>
  <div type="button" class="btn btn-success">
    <a href="/users">All users</a>
  </div>
<% } %>

<div type="button" class="btn btn-warning">
  <a href="/profile/<%=user._id%>/edit">Edit Profile</a>
</div>

<!-- <button><a href="/profile/<%=user._id%>">delete user</a></button> -->

  <div type="button" class="btn btn-info">
    <a href="/profile/<%=user._id%>/lists/new">Add a List</a>
  </div>
  <br>

  <div class="modal-footer">
     <form class="delete-btn" action="/profile/<%=user.id%>?_method=DELETE" method="POST">
       <button type="submit" class="btn btn-danger">Delete Account</button>
     </form>
   </div>
 </div>

 <style media="screen">
   .user-lists {
     width: 400px;
     height: 60px;
     border: 1px solid grey;
     border-radius: 4px;
     margin: 20px;
     text-align: center;
   }
   .user-lists:hover {
    box-shadow: 10px 10px 5px #888888;
    transform: scale(1.1)
}
   .btn {
     margin-bottom: 10px;
   }
   h2 {
     padding-left: 200px;
   }
 </style>
