<div class="page-header">

    <h1><%= user.local.firstname %></h1>



</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">

            <h3>Locally Stored User</h3>
<!-- <p><%= user.local %></p>
            <p>

                <strong>password</strong>: <%= user.local.password %>
            </p>

            <p>
                  <% if (user.facebook.id != null) { %>
                  <h2 class="fa fa-facebook"> Facebook</h2><br>
                  <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
                  <strong>id</strong>: <%= user.facebook.id %><br>
                  <strong>email</strong>: <%= user.facebook.email %><br>
                  <strong>name</strong>: <%= user.facebook.name %>
                  <% } %>
            </p> -->
          <% if (user.local.email != null) { %>
            <img src="https://avatars.io/gravatar/<%= user.local.email %>/140" class="img-circle"><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>First Name</strong>: <%= user.local.firstname %><br>
            <strong>Last Name</strong>: <%= user.local.lastname %><br>
            <strong>id</strong>: <%= user._id %><br>
          <% } %>

          <% if (user.facebook.id != null) { %>
            <h2 class="fa fa-facebook"> Facebook</h2><br>
            <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="img-circle"><br>
            <strong>id</strong>: <%= user.facebook.id %><br>
            <strong>email</strong>: <%= user.facebook.email %><br>
            <strong>name</strong>: <%= user.facebook.name %>
          <% } %>

        </div>
      </div>


        <div class="col-md-6">
          <div class="well">
            <h2 class="">List</h2>
            <article class="user-lists">
               <% lists.forEach((list) => { %>
                  <% if (list.user.id == user.id) { %>
                      <p> <a href="/lists/<%=list._id%>"><%= list.title %></a></p>
                  <% } %>
                <% }) %>
            </article>
          </div>
        </div>
</div>

<!-- <script>
var requestSettings = {
  method: 'get',
  url: '/lists'
}
$.ajax(requestSettings).done(function(allLists){
  //tasksList.html('')
  //allLists.forEach(function(list){
    console.log(allLists)
    //appendTask(task)
  })
//})
</script> -->


<% if(user.local.isAdmin || user.facebook.isAdmin) { %>
  <div type="button" class="btn btn-success">
    <a href="/users">All users</a>
  </div>
<% } %>

<div type="button" class="btn btn-warning">
  <a href="/profile/<%=user._id%>/edit">Edit Profile</a>
</div>

<!-- <button><a href="/profile/<%=user._id%>">delete user</a></button> -->

  <div type="button" class="btn btn-info">
    <a href="/profile/<%=user._id%>/lists/new">Add a List</a>
  </div>

  <div class="modal-footer">
     <form class="delete-btn" action="/profile/<%=user.id%>?_method=DELETE" method="POST">
       <button type="submit" class="btn btn-danger">Delete Account</button>
     </form>
   </div>
 </div>
