<h1>All users</h1>

<%= users %>

<ul>
    <% users.forEach((user) => { %>
      <li><%= user.local.firstname %>| <%= user.local.lastname %> | <%= user.local.email%> | <%= user.local.id %> </li>


    <% } %>
</ul>
